<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: header"></nav>
<h1 id="title" th:text="${title}"></h1>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${dish.name}" />
        <span th:errors="${dish.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="users">Users</label>
        <select name="userId">
            <option th:each="user : ${users}"
                    th:text="${user.username}"
                    th:value="${user.id}"></option>
        </select>
        <a th:href="@{'/register'}">Register New User</a>
    </div>

    <div class="form-group">
        <label th:for="ingredients">Ingredients</label>
        <th:block th:each="ingredient : ${ingredients}">
            <input type="checkbox" name="ingredients" th:value="${ingredient.id}" checked>
            <label th:text="${ingredient.name}"></label>
        </th:block>
        <a th:href="@{'/ingredients/add'}">Add Ingredients</a>
    </div>

    <div class="form-group">
        <label th:for="shortDescription">Short Description</label>
        <input class="form-control" th:field="${dish.shortDescription}" />
        <span th:errors="${dish.shortDescription}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="cuisineType">Cuisine Type</label>
        <input class="form-control" th:field="${dish.cuisineType}" />
        <span th:errors="${dish.cuisineType}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="totalTime">Total Time</label>
        <input class="form-control" th:field="${dish.totalTime}" />
        <span th:errors="${dish.totalTime}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="numServings">Number of Servings</label>
        <input class="form-control" th:field="${dish.numServings}" />
        <span th:errors="${dish.numServings}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="dishImage">Path to dish Image</label>
        <input class="form-control" th:field="${dish.dishImage}" />
        <span th:errors="${dish.dishImage}" class="error"></span>
    </div>

    <input type="submit" value="Add Dish" />
</form>

</body>
</html>