<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>
<div class="container body-content">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Thumbnail</th>
            <th scope="col">Name</th>
            <th scope="col">Author</th>
            <th scope="col">Cuisine</th>
            <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dish : ${dishes}">
            <td><img src="@{'/images/dishPics/' + ${dish.dishImage}}" alt="picture of dish"></td>
            <td><a th:href="@{'/dishes/view/' + ${dish.id}}" th:text="${dish.name}"></a></td>
            <td><a th:href="@{/users/profile}" th:text="${dish.user.firstName + ' ' + dish.user.lastName}"></a></td>
            <td th:text="${dish.cuisineType}"></td>
            <td th:text="${dish.shortDescription}"></td>
        </tr>
        </tbody>
    </table>
    <div style="text-align: center">
        <a th:href="@{'/dishes/add'}" style="color: black"><button class="btn btn-primary" >Add Dish</button></a>
        <a th:href="@{'/dishes/delete'}" style="color: black"><button class="btn btn-danger" >Delete Dish</button></a>
    </div>
</div>

<div th:replace="fragments :: bootStrapScript"></div>
</body>
</html>