<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 id="title" th:text="${dish.name}">Default Title</h1>

<nav th:replace="fragments :: header"></nav>

<div class="job-listing">
    <p th:text="${'ID: ' + dish.id}"></p>
    <p th:text="${'Name: ' + dish.name}"></p>
    <p> Ingredients:
    <ul>
        <li th:each="ingredient : ${dish.ingredients}">
            <a th:href="@{'/ingredients/view/' + ${ingredient.id}}" th:text="${ingredient.name}"></a>
        </li>
    </ul>
    </p>
</div>


</body>
</html>