<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<div th:replace="fragments :: header"></div>

<p th:unless="${ingredients} and ${ingredients.size()}">No Ingredients!</p>

<div class="container body-content">
    <ul>
        <li th:each="ingredient : ${ingredients}">
            <a th:href="@{'/ingredients/view/' + ${ingredient.id}}" th:text="${ingredient.name}"></a>
        </li>
    </ul>
    <a th:href="@{'/ingredients/add'}">Add Ingredient</a>

</div>

<div th:replace="fragments :: bootStrapScript"></div>
</body>
</html>