<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<nav th:replace="fragments :: header"></nav>

<div class="job-listing">
    <p th:text="${'Name: ' + ingredient.name}"></p>
<!--    <p th:text="${'Description: ' + ingredient.description}"></p>-->
        <p> Dishes found in:
            <ul>
                <th:block th:each="dish : ${ingredient.dishes}">
                    <li >
                        <a th:href="@{'/dishes/view/' + ${dish.id}}"
                           th:text="${dish.name + ' by ' + dish.user.firstName + ' ' + dish.user.lastName}"></a>
                    </li>
                </th:block>
            </ul>
        </p>
</div>

<div th:replace="fragments :: bootStrapScript"></div>
</body>
</html>