<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<nav th:replace="fragments :: header"></nav>
<h1 id="title" th:text="${ingredient.name}">Default Title</h1>

<div class="job-listing">
    <p th:text="${'Name: ' + ingredient.name}"></p>
<!--    <p th:text="${'Description: ' + ingredient.description}"></p>-->
        <p> Dishes found in:
            <ul>
                <li th:each="dish : ${ingredient.dishes}">
                    <a th:href="@{'/dishes/view/' + ${dish.id}}" th:text="${dish.name}"></a>
                </li>
            </ul>
        </p>
</div>