body {
  padding: 20px;
  font-family: sans-serif;
  background: #f2f2f2;
}
img {
  width: 100%; /* need to overwrite inline dimensions */
  height: 100%;
}
h2 {
  margin-bottom: .5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* hover styles */
.chef-listing {
  position: relative;
}

.chef-image {
  line-height: 0;
  overflow: hidden;
}

.chef-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.chef-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90,0,10,0.4);
  color: white;

  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.chef-listing:hover .chef-title {
  opacity: 1;
}

.chef-listing:hover .chef-image img {
  filter: blur(2px);
}


/* for touch screen devices */
@media (hover: none) {
  .chef-title {
    opacity: 1;
  }
  .chef-image img {
    filter: blur(2px);
  }
}