<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

</head>
<body>

<div th:fragment="header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Chef's Table</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/chefs}">Chefs</a></li>
                <li><a th:href="@{/dishes}">Dishes</a></li>
                <li><a th:href="@{/ingredients}">Ingredients</a></li>
                <li><a th:href="@{/users}">Users</a></li>
                <li><a href="https://www.nytimes.com/section/food">NYT Food</a></li>
            </ul>
            <th:block th:unless="${isLoggedIn}">
                <a th:href="@{/register}"class="navbar-right "><button class="btn btn-primary">Register</button></a>
                <a th:href="@{/login}" class="navbar-right "><button class="btn btn-success">Login</button></a>
            </th:block>
            <th:block th:if="${isLoggedIn}">
                <a th:href="@{/logout}" class="navbar-right"><button class="btn btn-danger">Logout</button></a>
                <li class="navbar-right">Hello <a th:href="@{/users/profile}"
                                                               th:text="${currentUser}"></a>!
                </li>
            </th:block>
        </div>
    </div>
</div>

</body>
</html>