<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>

        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1 th:text="${title}"></h1>
            <p>Your go-to resource for all of your favorite chef's recipes!</p>
        </div>
        <nav>
            <div  class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a th:href="@{/}" class="navbar-brand">Chef's Table</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/chefs}">Chefs</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/dishes}">Dishes</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/ingredients}">Ingredients</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a></li>
                            <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.nytimes.com/section/food">NYT
                                Food</a></li>
                        </ul>
                        <th:block th:unless="${isLoggedIn}">
                            <a th:href="@{/register}"class="mr-sm-2"><button class="btn btn-primary">Register</button></a>
                            <a th:href="@{/login}" class="mr-sm-2"><button class="btn btn-success">Login</button></a>
                        </th:block>
                        <th:block th:if="${isLoggedIn}">
                            <nav class="mr-sm-2 nav-item" style="color: white;">Hello <a th:href="@{/users/profile}"
                                                                                         th:text="${currentUser}"></a>!
                            </nav>
                            <a th:href="@{/logout}" class="mr-sm-2"><button class="btn btn-danger">Logout</button></a>
                        </th:block>
                    </div>
                </div>


            </div>
        </nav>

        <div class="container" style="margin-top:30px">
            <div class="row">
<!--                <div class="col-sm-4">-->
<!--                    <h2>About Me</h2>-->
<!--                    <h5>Photo of me:</h5>-->
<!--                    <div class="fakeimg">Fake Image</div>-->
<!--                    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>-->
<!--                    <h3>Some Links</h3>-->
<!--                    <p>Lorem ipsum dolor sit ame.</p>-->
<!--                    <ul class="nav nav-pills flex-column">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link active" href="#">Active</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Link</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Link</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link disabled" href="#">Disabled</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                    <hr class="d-sm-none">-->
<!--                </div>-->
                <div class="col-sm-8">
                    <h2>Our Favorite Chefs</h2>
                </div>
            </div>
        </div>

        <div class="jumbotron text-center" style="margin-bottom:0">
            <p>Footer</p>
        </div>

        <div th:replace="fragments :: bootStrapScript"></div>

    </body>
</html>
