<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
    <head th:replace="fragments :: head"></head>
    <body>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <h1 th:text="${title}"></h1>
            <p>Your go-to resource for all of your favorite chef's recipes!</p>
        </div>
        <nav>
            <div  class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <a th:href="@{/}" class="navbar-brand">Chef's Table</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/chefs}">Chefs</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/dishes}">Dishes</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/ingredients}">Ingredients</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a></li>
                            <li class="nav-item"><a class="nav-link" target="_blank" href="https://www.nytimes.com/section/food">NYT
                                Food</a></li>
                        </ul>
                        <th:block th:unless="${isLoggedIn}">
                            <a th:href="@{/register}"class="mr-sm-2"><button class="btn btn-primary">Register</button></a>
                            <a th:href="@{/login}" class="mr-sm-2"><button class="btn btn-success">Login</button></a>
                        </th:block>
                        <th:block th:if="${isLoggedIn}">
                            <nav class="mr-sm-2 nav-item" style="color: white;">Hello <a th:href="@{/users/profile}"
                                                                                         th:text="${currentUser}"></a>!
                            </nav>
                            <a th:href="@{/logout}" class="mr-sm-2"><button class="btn btn-danger">Logout</button></a>
                        </th:block>
                    </div>
                </div>
            </div>
        </nav>
<!--top chefs-->
        <div class="container" style="margin-top:30px; text-align:center;">
            <div class="row">
                <div class="col align-self-center" >
                    <h2 >Our Favorite Chefs</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <figure>
                        <a th:href="@{/users/view/46}">
                            <img th:src="@{/images/profilePics/gordon-ramsay.jpg}" alt="ramsay"
                                 style="width: 100px; height: 100px;"
                                 class="img-thumbnail">
                        </a>
                        <figcaption>Gordon Ramsay</figcaption>
                    </figure>
                </div>
                <div class="col-sm-3">
                    <figure>
                        <a th:href="@{/users/view/48}">
                            <img th:src="@{/images/profilePics/kenji.jpg}" alt="kenji"
                                 style="width: 100px; height: 100px;"
                                 class="img-thumbnail">
                        </a>
                        <figcaption>J. Kenji López-Alt</figcaption>
                    </figure>
                </div>
                <div class="col-sm-3">
                    <figure>
                        <a th:href="@{/users/view/47}">
                            <img th:src="@{/images/profilePics/alton_brown.jpg}" alt="chefPic"
                                 style="width: 100px; height: 100px;"
                                 class="img-thumbnail">
                        </a>
                        <figcaption>Alton Brown</figcaption>
                    </figure>
                </div>
                <div class="col-sm-3">
                    <figure>
                        <a th:href="@{/users/view/49}">
                            <img th:src="@{/images/profilePics/babish.jpg}" alt="chefPic"
                                 style="width: 100px; height: 100px;"
                                 class="img-thumbnail">
                        </a>
                        <figcaption>Andrew Rea</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <hr>
<!--chefs picks-->
        <div class="container" style="margin-top:30px; text-align:center;">
            <div class="row">
                <div class="col align-self-center" >
                    <h2 >Chef's Picks</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <figure>
                        <a th:href="@{/dishes/view/113}">
                            <img th:src="@{/images/dishPics/ramsay-wellington2.jpg}" alt="ramsay-wellington"
                                 style="width: 100px; height: 100px;"
                                 class="img-thumbnail">
                        </a>
                        <figcaption>Beef Wellington</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <a th:href="@{/dishes/view/152}">
                            <img th:src="@{/images/dishPics/salmon-chowder.jpg}" alt="chowder"
                                 style="width: 100px; height: 100px;"
                                 class="img-thumbnail">
                        </a>
                        <figcaption>Salmon Chowder</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <a th:href="@{/dishes/view/122}">
                            <img th:src="@{/images/dishPics/Chicken-Marsala.jpg}" alt="marsala"
                                 style="width: 100px; height: 100px;"
                                 class="img-thumbnail">
                        </a>
                        <figcaption>Chicken Marsala</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <a th:href="@{/dishes/view/127}">
                            <img th:src="@{/images/dishPics/aglio.jpg}" alt="ramsay-wellington"
                                 style="width: 100px; height: 100px;"
                                 class="img-thumbnail">
                        </a>
                        <figcaption>Pasta Aglio e Olio</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <a th:href="@{/dishes/view/143}">
                            <img th:src="@{/images/dishPics/crepes.jpeg}" alt="crepes"
                                 style="width: 100px; height: 100px;"
                                 class="img-thumbnail">
                        </a>
                        <figcaption>Crepes</figcaption>
                    </figure>
                </div>
                <div class="col-sm-4">
                    <figure>
                        <a th:href="@{/dishes/view/161}">
                            <img th:src="@{/images/dishPics/pork-beets.jpg}" alt="ramsay-wellington"
                                 style="width: 100px; height: 100px;"
                                 class="img-thumbnail">
                        </a>
                        <figcaption>Pork Tenderloin with Golden Beets</figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="container" style="margin-top:30px">
            <div class="jumbotron text-center" style="margin-bottom:0">
                <h2>Video of the Day</h2>
                <iframe width="700" height="394" src="https://www.youtube.com/embed/UMp-IF6uPkk?list=PLTzMGnJjrsSy6H8uiX3XKWtUhhj2Vilw1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

        </div>
        <div th:replace="fragments :: bootStrapScript"></div>
    </body>
</html>
