<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
    <link th:href="@{/css/chefListing.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="child-page-listing">

    <h2>The Chefs</h2>

    <div class="grid-container">

    <article class="chef-listing" th:each="user : ${users}" th:if="${user.role} == 'chef'">
        <a class="chef-title" th:href="@{'/users/view/' + ${user.id}}" th:text="${user.firstName + ' ' + user.lastName}"></a>
        <div class="chef-image">
            <a th:href="@{'/users/view/' + ${user.id}}">
                <img id="chefPic" th:src="@{'/images/profilePics/' + ${user.profilePicture}}" alt="Chef Picture">
            </a>
        </div>
    </article>

    </div>


</div>

<div th:replace="fragments :: bootStrapScript"></div>
</body>

</html>
